.app {
  height: 100vh;
  background-color: #ebebeb;
}

button {
  border: none;
  display: inline-block;
  width: 20%;
  height: 65%;
  padding: 0.3em 1.2em;
  margin: 0.3rem 0.5em;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  background-color: #1e48a8;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}

button:hover {
  cursor: pointer;
  filter: brightness(1.25)
}

.card-container {
  height: calc(100vh - 75px);
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #3b3b3b;
  background: -moz-linear-gradient(left, #3b3b3b 10%, rgba(59,59,59, 0) 42%);
  background: -webkit-linear-gradient(left, #3b3b3b 10%, rgba(59,59,59, 0) 42%);
  background: -o-linear-gradient(left, #3b3b3b 10%, rgba(59,59,59, 0) 42%);
  background: -ms-linear-gradient(left, #3b3b3b 10%, rgba(59,59,59, 0) 42%);
  background: linear-gradient(to right, #3b3b3b 10%, rgba(59,59,59, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #3b3b3b;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #bdc2c2;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}