.card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 600px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 9px 0 rgba(0,0,0,0.25);
  box-shadow: 0 5px 9px 0 rgba(0,0,0,0.25);
  overflow: hidden;
  background-color: #FFF;
}

.card-image {
  height: 50%;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: auto;
}

.card-content {
  height: 40%;
}

.card-content > * {
  padding: 15px 15px 0 15px;
  margin: 0
}

.card-actions {
  height: 10%;
  text-align: center;
}

