.card-form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 25px 0;
  min-width: 300px;
  min-height: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 9px 0 rgba(0,0,0,0.25);
  box-shadow: 0 5px 9px 0 rgba(0,0,0,0.25);
  background-color: #FFF;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  align-items: auto;
  align-content: center
}

.card-form input,
.card-form select,
.card-form textarea {
  display: block;
  width: 100%;
}

.card-form > label,
.card-form > div {
  flex: 1 1 auto;
  margin: 10px;
}

.button-submit {
  width: 100%;
}

.card-form.title {
  font-weight: 600;
  /* padding */
}