header {
  position: absolute;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  background-color: #010730;
  color: white;
  padding-left: 25px;
}

header h1 {
  margin: 0;
  line-height: 75px;
}
